.App {
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  transition: background-color 0.5s, color 0.5s;
}

.but {
  background-color: rgb(12, 108, 251);
  color: #fff;
  margin: 10px 0;
  padding: 12px 20px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.App.night-mode {
  background-color: #121212;
  color: white;
}

.weather-container {
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  background-color: #f9f9f9;
}

.weather-container.night-mode {
  background-color: #121212;
}

.infield {
  width: 100%;
  border-radius: 20px;
  padding: 15px 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
  margin-bottom: 10px;
}

.infield.night-mode {
  background-color: #333;
  color: white;
  border-color: #555;
}

.infield:focus {
  border-color: #7d9fe1;
  box-shadow: 0 0 5px rgba(125, 159, 225, 0.5);
}

.infield.night-mode:focus {
  border-color: #9d9fe1;
  box-shadow: 0 0 5px rgba(157, 159, 225, 0.5);
}

.btn {
  margin: 10px 0;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn.night-mode {
  background-color: #333;
  color: white;
}

.btn:hover {
  background-color: rgb(10, 90, 210);
}

.btn.night-mode:hover {
  background-color: #555;
}

.btn:active {
  background-color: rgb(8, 72, 168);
}

.btn.night-mode:active {
  background-color: #222;
}

.map-container {
  width: 100%;
  height: 600px;
  position: relative;
}

#map {
  width: 100%;
  height: 100%;
}

.city-info {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.city-info.night-mode {
  background-color: #333;
  border-color: #555;
  color: white;
}

.city-info img {
  max-width: 100%;
  border-radius: 5px;
}

a {
  color: #007BFF;
}

a.night-mode {
  color: #BB86FC;
}

.toggle-icon {
  cursor: pointer;
  transition: color 0.3s;
}

.toggle-icon.night-mode {
  color: #f1c40f;
}

.weather-day-detail {
  color: black;
  background-color: black;
  transition: background-color 0.3s, color 0.3s;
}

.weather-day-detail.night-mode {
  color: white;
  background-color: #333;
}
