.city-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.infield {
  width: 100%;
  border-radius: 20px;
  padding: 15px 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: border-color 0.5s;
}

.infield.night-mode {
  background-color: #333;
  color: white;
  border-color: #555;
}

.infield:focus {
  border-color: #7d9fe1;
  box-shadow: 0 0 5px rgba(125, 159, 225, 0.5);
}

.infield.night-mode:focus {
  border-color: #9d9fe1;
  box-shadow: 0 0 5px rgba(157, 159, 225, 0.5);
}

.but {
  background-color: rgb(12, 108, 251);
  color: #fff;
  margin: 10px 0;
  padding: 12px 20px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.but.night-mode {
  background-color: rgb(12, 108, 251);
  color: white;
}

.but:hover {
  background-color: rgb(10, 90, 210);
}

.but.night-mode:hover {
  background-color: #555;
}
