.city-input-container {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.city-input-container.night-mode {
  background-color: #121212;
}

.infield {
  width: calc(100% - 40px);
  border-radius: 20px;
  padding: 15px 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
  margin-bottom: 10px;
}
.infield.night-mode {
  background-color: #333;
  color: white;
  border-color: #555;
}

.suggestions-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  max-height: 150px;
  overflow-y: auto;
  margin-top: 10px;
}
.suggestions-list.night-mode {
  border-color: #555;
  background-color: #333;
  color: white;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}
.suggestions-list li:hover {
  background-color: #f1f1f1;
}
.suggestions-list.night-mode li:hover {
  background-color: #555;
}

.error-container {
  margin-top: 20px;
  color: red;
  background-color: #fdd;
  padding: 10px;
  border-radius: 5px;
}
.error-container.night-mode {
  background-color: #333;
  color: white;
}

.but {
  background-color: rgb(12, 108, 251);
  color: #fff;
  margin: 10px 0;
  padding: 12px 20px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.but.night-mode {
  background-color: #333;
  color: white;
}

.but:hover {
  background-color: rgb(10, 90, 210);
}
.but.night-mode:hover {
  background-color: #555;
}

.but:active {
  background-color: rgb(8, 72, 168);
}
.but.night-mode:active {
  background-color: #222;
}
