/* Navbar Styling */
.navbar {
   background-color: rgb(124, 124, 124);
   color: white; 
   position: sticky;
   top: 0;
   width: 100%;
   padding: 10px; /* Added padding for spacing */
   z-index: 1000;
   display: flex;
   justify-content: space-between; /* Ensures the moon icon is on the left and the share buttons are on the right */
   align-items: center;
}

.navbar.night-mode {
   background-color: rgb(35, 34, 34);
}

/* Icon Group Styling */
.icon-group {
   display: flex;
   align-items: center;
   gap: 20px; /* Adjust gap as needed */
}

.toggle-icon {
   color: white;
   padding-left: 15px;
   cursor: pointer;
}

.night-mode .toggle-icon {
   color: yellow;
}

/* Share Buttons Styling */
.share-buttons {
   display: flex;
   gap: 10px; /* Adjusts spacing between share buttons */
}
.bt.dropdown-toggle{
   background-color: rgb(124, 124, 124);
}
.bt.dropdown-toggle.night-mode{
   background-color: rgb(35, 34, 34);
   
}

/* Action Group Styling */
.action-group {
   display: flex;
   align-items: center;
   gap: 20px; /* Adjust gap as needed */
}

.logout-dropdown {
  margin-left: 15px;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
}
.tog{
   color: red;
   background-color: red;
}


/* Modal Styling */
.modal-title h4 {
   background-color: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
}

.modal-title-h4.night-mode {
   background-color: rgb(74, 73, 73);
   color: rgb(0, 0, 0);
}

.modal-body {
   background-color: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
}

.modal-body.night-mode {
   background-color: rgb(74, 73, 73);
   color: rgb(255, 255, 255);
}

.modal-header {
   background-color: white;
   color: black;
}

.modal-header.night-mode {
   background-color: rgb(74, 73, 73);
   color: white;
}

.modal-footer {
   background-color: white;
   color: black;
}

.modal-footer.night-mode {
   background-color: rgb(74, 73, 73);
   color: white;
}
