

.share-button {
  padding: 10px;
  background-color: transparent;
  justify-content: right;
  justify-items: right;
  float: right;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  transition: transform 0.5s;
}
.share-button.night-mode{
  color: rgb(255, 255, 255);
  background-color: transparent;
  transition: transform 0.5s;
}

.share-button:hover {
  transform: scale(1.1);
}

.share-button:active {
  transform: scale(0.9);
}
