.share-buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.share-button {
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}
.share-button.night-mode{
  color: white;
  background-color: white;
}

.share-button:hover {
  transform: scale(1.1);
}

.share-button:active {
  transform: scale(0.9);
}
